%ul.breadcrumb
  %li
    = link_to 'Home', main_app.admin_root_path
    
  %li
    = link_to 'Extensions', main_app.admin_extensions_path
    
  %li.active Twitter

.page-header.text-muted
  %h1 Twitter
  %p The Twitter extension has no settings.
